<div class="cards">
        <div *ngFor="let result of this.movies.results" class="clr-col-lg-4 clr-col-12">
            <a href="..." class="card clickable">
                <div class="card-block">
                    <p class="card-text">
                     {{result.title}}   
                    </p>
                </div>
                <div class="card-img">
                    <img src="https://image.tmdb.org/t/p/w300//{{result.poster_path}}"/>
                </div>
            </a>
        </div>
</div>
