<p>popular works!</p>
<!-- <p *ngFor=" let result of this.movies.results">Show Popular: {{result.title}}</p> -->

<!-- <div *ngFor="let result of this.movies.results" class="popularmovie">
   <li>
       {{result.title}}
   </li> 
   <li>
      <img src="https://image.tmdb.org/t/p/w300//{{result.poster_path}}"/>
   </li>
</div> -->





<!-- <div class="clr-col-lg-4 clr-col-12">
    <a href="..." class="card clickable">
        <div *ngFor="let result of this.movies.results" class="card-block">
            <p  class="card-text">
            {{result.title}}
            </p>
        </div>
        <div *ngFor="let result of this.movies.results" class="card-img">
            <img src="https://image.tmdb.org/t/p/w300//{{result.poster_path}}"/>
        </div>
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
    </a>
</div> -->
