.searching {
    display: flex;
    align-items: flex-start;
}
.searchResults {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: 100px;
}
button {
    position: absolute;
    left: 300px;
    top: 70px;
}
.card-block{
    max-width: 50px;
    max-height: auto;
}